@import 'tailwindcss';
@import '@heroui/styles';

:root {
  /* Backgrounds */
  --bg-primary: #030712;
  --bg-secondary: #10141e;

  /* Text colors */
  --text-primary: #ffd6a7;
  --text-secondary: #ffffff;

  /* Brand colors */
  /* --color-primary: #3b82f6;
  --color-secondary: #6366f1; */
}

@theme inline {
  --color-background: var(--bg-primary);
  --color-background-secondary: var(--bg-secondary);

  --color-foreground: var(--text-primary);
  --color-foreground-muted: var(--text-secondary);

  /* --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary); */
}

body {
  background: var(--color-background);
  color: var(--color-foreground-muted);
  font-family: Arial, Helvetica, sans-serif;
}
